
layout {
  cwd "~/git/native-navigation"
  //TAB 1
  tab name="dev" {


    // HORIZONTAL LAYOUT - ZELLIJ STATS
    // pane split_direction="vertical" size=1 {
      pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
      }
    // }
    // VERTICAL LAYOUT
    pane split_direction="vertical" size="25%" {

      // FIRST COLUMN LAYOUT - HORIZONTAL CHILDREN
      pane split_direction="horizontal" {
        pane {
          size "80%"
          name "EXPO"
          command "npx"
          args "expo" "start"
        }
        pane {
          size "20%"
          name "PEACLOCK"
          command "peaclock"
        }
      }
      /////////////////////////////////////////////

      // SECOND COLUMN LAYOUT
      pane{
        focus true
        size "50%" 
        name "NVIM" 
        command "nvim"
      } 
      pane{
        size "25%" 
        name "NVIM" 
        command "nvim"
        args "todo.md"
      } 
      /////////////////////////////////////////////

    }



  }

  /////////////////////////////////////////////
  // TAB 2
  tab name="LEARNINGS" cwd="~/git/dev-learnings" {

    // HORIZONTAL LAYOUT - ZELLIJ STATS
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    ////////////////////////
    pane split_direction="vertical" {
      name "NVIM"
      size "80%"
      command "nvim"
    }
    pane {
      name "algo"
      size "20%"
    }
  }

  /////////////////////////////////////////////
  // TAB 3
  tab name="LAZYGIT" {

    // HORIZONTAL LAYOUT - ZELLIJ STATS
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    ////////////////////////////////////////
    pane split_direction="vertical" {
      // name "MUSIKCUBE"
      size "100%"
      command "lazygit"
    }
    // pane {
    //   name "CAVA"
    //   size "30%"
    //   command "cava"
    // }
  }

}
