/* --- Estilo Minimalista para Waybar --- */

* {
  /* Fuente recomendada: JetBrainsMono Nerd Font */
  font-family:
    "JetBrainsMono Nerd Font", "JetBrainsMonoNF", "JetBrains Mono Nerd Font",
    "Symbols Nerd Font", sans-serif;
  font-weight: bold;
  font-size: 13px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0);
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* --- Módulos individuales --- */

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #fab387;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

#workspaces button.active {
  background-color: #313244;
  color: #89b4fa;
  border-bottom: 3px solid #89b4fa;
  border-radius: 5px;
}

#workspaces button:hover {
  background-color: rgba(137, 180, 250, 0.2);
  box-shadow: inherit;
  text-shadow: inherit;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#language,
#custom-zen,
#keyboard-state {
  padding: 0 18px;
  border-radius: 50px;
  background-color: #0d1117;
  color: #22da6e;
  margin: 4px 2px;
  border: 1px solid #1a8a47;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#mpd:hover,
#language:hover,
#custom-zen:hover,
#keyboard-stat:hover {
  background-color: #0e4d24;
}

#clock {
  font-weight: bold;
}

#battery.charging,
#battery.plugged {
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #f38ba8;
  }
}

#pulseaudio {
}

#network {
}

#keyboard-state {
  padding: 0 10px;
  margin: 4px 2px;
}

#language {
  padding: 0px 12px;
  margin: 4px 6px;
  font-weight: bold;
  transition: all 0.3s ease;
}

#custom-zen {
  padding: 0 15px;
  margin: 4px 0;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* El contenedor del calendario (Tooltip) */
tooltip {
  background-color: #0d1117;
  color: #22da6e;
  border-radius: 20px 20px 20px 20px;
}

tooltip label {
  font-family: "JetBrainsMono Nerd Font";
  /* Importante: usar fuente mono para alinear */
  font-size: 15px;
  padding: 5px;
  color: #22da6e;
}

#cpu,
#memory {
  padding: 0 12px;
  margin: 4px 3px;
}

#cpu {
  /* color: #89b4fa; */
  /* Azul para CPU */
}

#memory {
  /* color: #a6e3a1; */
  /* Verde para RAM */
}
